@import './scroll';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'RockNRoll One', sans-serif;
}

hr {
  opacity: 0.5;
}

p,
button,
strong {
  font-family: 'Roboto', sans-serif;
}

button {
  height: 2.7rem;
  width: 10rem;
  border-radius: 0.4rem;
  border: none;
  color: white;
  background-color: #4d69bb;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($color: #4d69bb, $amount: 5%);
  }
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.hero {
  background-image: url('images/cerveza.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  position: relative;

  & .logo {
    left: 10vw;
    top: 3vh;
    position: absolute;
  }

  &--content {
    background: rgba(#2d3345, 0.85);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25vh 0;
    position: relative;

    h1 {
      font-size: 4rem;
    }

    p,
    strong {
      font-size: 1.5rem;
      max-width: 700px;
      text-align: center;
    }

    strong {
      margin-right: 1rem;
      letter-spacing: 2px;
    }

    &--date-container {
      background-color: rgba($color: black, $alpha: 0.3);
      border: 1px solid rgba($color: white, $alpha: 0.5);
      width: 650px;
      height: 200px;
      border-radius: 1rem;
      padding: 1rem;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50%;

        &--left-side {
          display: flex;
          align-items: center;

          i {
            margin-right: 1rem;
            font-size: 2rem;
          }
        }
      }

      .bottom {
        height: 50%;
      }
    }
  }
}

.details {
  &--item {
    padding: 0 0 0 4vw;
    height: 300px;
    width: 50%;

    .header-img {
      background-image: url('./images/computer.jpg');
      background-size: cover;
      background-position: center;
      height: 50%;
      margin-bottom: 1rem;
    }

    &.content {
      border-top: 2px solid black;
    }

    img {
      height: 200px;
      width: auto;
    }
  }

  &--left-side,
  &--right-side {
    width: 100%;
    margin: 1rem 0;
  }

  &--left-side {
    align-items: flex-end;
    text-align: end;
    border-right: 2px solid black;

    .details--item {
      padding: 0 4vw 0 0;
    }
  }
}

.lamongas {
  background-color: #2d3345;
  color: white;

  &-header {
    margin-bottom: 5rem;

    .header-img {
      background-image: url('./images/lamonja2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 45vh;
      width: 100%;
    }

    h2 {
      width: 100%;
      height: 100%;
      margin: auto;
      text-align: center;
      font-size: 4rem;
    }
  }
  &--body {
    p {
      max-width: 900px;
      font-size: 1.5rem;
      margin-bottom: 5vh;
      text-align: center;
    }

    h3 {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 5vh;
    }

    .practices {
      width: 50vw;
      margin: 10vh 0;
      &--left,
      &--right {
        width: 100%;
      }
    }
  }
}

.organizers {
  margin: 5rem auto;
  max-width: 900px;

  &--title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  &--row {
    justify-content: space-between;
    margin-bottom: 4rem;

    &--card {
      width: 30%;
      height: 330px;
      border: 2px solid #4d69bb;
      background-color: #222a30;
      color: white;
      border-radius: 10px;
      padding: 3%;

      &--image {
        width: 65px;
        height: 65px;
        border-radius: 10px;
        border: 2px solid #4d69bb;
      }
    }
  }
}
